[Unit]
Description=IPSyncer Client
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=<REPO DIR>/src # Change to your repo directory
Environment=PYTHONUNBUFFERED=1
ExecStart=<PYTHON DIR>/python client.py --config config.yaml # Change to your Python binary path

RestartSec=3

[Install]
WantedBy=multi-user.target
