[Unit]
Description=IPSyncer Server
After=network.target

[Service]
Type=simple
User=<USER>
Group=<USER>
WorkingDirectory=<REPO DIR>
Environment=PYTHONUNBUFFERED=1
ExecStart=python3 server.py --host 0.0.0.0 --port <PORT> --backup-interval <INTERVAL>
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 